*{
	margin: 0;
	padding: 0;

}
.row{
	max-width: 1140px;
}
body{
	font-family: tahoma;
}
.hero{
	position: absolute;
	width: 1140px;
	top: 50%;
    left: 50%;
transform: 	translate(-50%,-50%);
}
header{
	background-image: url(pic6.jpg);
	height: 100vh;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
}
h1{
	color: white;
}
.main-nav{
	list-style-type: none;
	float: right;
	margin-top: 60px;
	margin-left: 50px;

}
.main-nav li{
	display: inline-block;
	margin-left: 20px;
	padding:  0px 20px;

}
.main-nav li a{
	color: white;
	text-decoration: none;
	font-size: 100%;
	text-transform: uppercase;
	

}
.main-nav li a:hover{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.5s ease-in;
	padding: 15px 0px ;
}
.logo img{
	height: 100px;
	float: left;
	margin-top: 25px;
}

.btn{
	border: 1px solid#e67e22;
	padding: 10px 30px;
	color: #e67e22;
	text-decoration:none;
	border-radius: 25px;
	margin-right: 5px;
	margin-top: 40px;

}
.button{
	margin-top : 20px;
}


.btn-half{
	color: #e67e22;
	text-transform: uppercase;

}
.btn-full{
	color: #e67e22;
	text-transform: uppercase;
}
.btn-half:hover{
	background-color: lightyellow;
}

.btn-full:hover{
	background-color:#e88e5a;
}
.text-center{
	width: 70%
	margin:15%;
}
h3:after{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display:block;
	content: ".";
	margin: 0 auto;
	margin-top: 30px
}

.feature h3{
	margin-top: 80px;
	margin-bottom: 50px;
}
.a{
	text-align:justify;
}

.Jobs{
	list-style-type: none;
	width: 100%;

}
.Jobs li{
	display: block;
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-bottom: 0;
}
.photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.photo img{
	width: 100%
	height:auto;
	overflow: hidden;
 transform: scale(1.15);
 transition: all 0.5sec;
}
.photo img:hover{
	transform: scale(1.05);
}

.job1{
	margin-top: 60px;
	margin-bottom: 0;
}

.good{
	animation: goodbulider 1s infinite;
}

@keyframes goodbulider{
	0%{color: red;}
	25%{color:#00ffff;}
	50%{color: :red;}
	100%{ color: #00ffff; }
}



































